<script src="node_modules/ngx-delete-confirm/bundles/ngx-delete-confirm.umd.js"></script>
<p-confirmDialog></p-confirmDialog>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User First name</th>
      <th scope="col">User email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listArr">
      <td>{{ list.firstName }}</td>

      <td>{{ list.email }}</td>
      <td>
        <button (click)="d" class="btn btn-danger">Edit</button>
      </td>
      <td>

          <button type="submit" (click)="deleteUser(list._id)"  pButton icon="pi pi-times" label="Delete"></button>
          
          <p-messages [value]="msgs"></p-messages>
      
      </td>
    </tr>
  </tbody>
</table>
