<!-- <p>
  editblog works!
</p> -->

<body background="../src/assets/bp.jpg">
  <form [formGroup]="blogform" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label for="blogtitle">blog title</label>
      <input type="text" class="form-control" id="blogtitle" placeholder="blogtitle" formControlName="blogtitle">
    </div>
    <div class="form-group">
      <label for="blogcontent">blog content</label>
      <textarea class="form-control" rows="4" id="blogcontent"formControlName="blogcontent"></textarea>
    </div>
    <div class="form-group">
      <label for="avatar">Select File</label>
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
    </div>
    <button type="submit"class="btn btn-success">Edit</button>
    <div>
    </div>
  </form>
  
  </body>