<!-- <p>
  listblog works!
</p> -->
<script src="node_modules/ngx-delete-confirm/bundles/ngx-delete-confirm.umd.js"></script>
<p-confirmDialog></p-confirmDialog>
<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> Blogtitle</th>
      <th scope="col">Blogcontent</th>
      <th scope="col">Blogimage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listArr">
      <td>{{ list.blogtitle}}</td>
      <td>
        <div innerHtml="{{ list.blogcontent }}"></div>
      </td>
      <!-- <td>{{ list.file }}</td> -->
      <td>
        <img src="{{list.file}}" height="50px" width="50px">
      </td>

      <td>
        <button (click)="Editblog(list._id, list)" class="btn btn-danger">Edit</button>
        
      </td>
      <td>
          <button (click)="Deleteblog(list._id)" pButton icon="pi pi-times" label="Delete"></button>
 
        <p-messages [value]="msgs"></p-messages>
      </td>

    </tr>
  </tbody>
</table>
