<!-- <p>
  addproduct works!
</p> -->

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Add Product form</h3>
              <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                  <div class="form-group">
                      <label>Product Name</label>
                      <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                      <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                          <div *ngIf="f.productName.errors.required">Product Name is required</div>
                      </div>
                  </div>
                  <!-- <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" formControlName="customerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
                    <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                        <div *ngIf="f.customerName.errors.required">Last Name is required</div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Product Cost</label>
                    <input type="text" formControlName="productCost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCost.errors }" />
                    <div *ngIf="submitted && f.productCost.errors" class="invalid-feedback">
                        <div *ngIf="f.productCost.errors.required">Product Cost is required</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Shipping Cost</label>
                    <input type="text" formControlName="shippingCost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shippingCost.errors }" />
                    <div *ngIf="submitted && f.shippingCost.errors" class="invalid-feedback">
                        <div *ngIf="f.shippingCost.errors.required">Last Name is required</div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Brand Name</label>
                    <input type="text" formControlName="brandName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.brandName.errors }" />
                    <div *ngIf="submitted && f.brandName.errors" class="invalid-feedback">
                        <div *ngIf="f.brandName.errors.required">Brand Name is required</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Last Name is required</div>
                    </div>
                </div> -->
            
                <div class="form-group">
                     <label>Status</label>
                     <!-- <select [(ngModel)]="category" id="category">
                            <option value="">Avaiblable</option>
                            <option value="">Unvaiblable</option>
                            <option *ngFor="let item of categories" [value]="item.category">{{item.category}}</option>
                          </select> -->
                    <input type="text" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required">Status is required</div>
                    </div>
                </div>
            <div>
            </div>
            <div class="form-group">
                    <label for="file">Select File</label>
                    <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
                  </div>
                  <div class="form-group">
                        <p-splitButton label="Save" type="submit" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton>
                      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

