<div class="sidenav">
  <a href="#home">Home</a>
  <a routerLink="/user/add-user">Add User</a>
  <a routerLink="/user/userlist">List User</a>
  <button class="dropdown-btn">Product Management
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/product/addproduct">add product</a>
    <a routerLink="/product/listproduct">list product</a>
    <!-- <a routerLink="/product/editProduct?=id">edit product</a> -->

  </div>
  <button class="dropdown-btn">Blog Management
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/adblog/addBlog">Add Blog</a>
    <a routerLink="/adblog/listBlog">listBlog</a>
    <!-- <a routerLink="/editBlog">editBlog</a> -->
  </div>
  <div>
    <a (click)="logout()">Log Out</a>
  </div>
