<!-- <p>
  editproduct works!
</p> -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Edit Product form</h3>
              <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                  <div class="form-group">
                      <label>Product tName</label>
                      <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                      <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                          <div *ngIf="f.productName.errors.required">Product Name is required</div>
                      </div>
                  </div>
                  <!-- <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" formControlName="customerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
                    <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                        <div *ngIf="f.customerName.errors.required">Last Name is required</div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Product Cost</label>
                    <input type="text" formControlName="productCost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCost.errors }" />
                    <div *ngIf="submitted && f.productCost.errors" class="invalid-feedback">
                        <div *ngIf="f.productCost.errors.required">Last Name is required</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Shipping Cost</label>
                    <input type="text" formControlName="shippingCost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shippingCost.errors }" />
                    <div *ngIf="submitted && f.shippingCost.errors" class="invalid-feedback">
                        <div *ngIf="f.shippingCost.errors.required">Last Name is required</div>
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label>Shipping Address</label>
                    <input type="text" formControlName="shippingAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shippingAddress.errors }" />
                    <div *ngIf="submitted && f.shippingAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.shippingAddress.errors.required">Last Name is required</div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div>
                    <label for="file">Select File</label>
                    <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>