<!-- <p>
  listproduct works!
</p> -->
<script src="node_modules/ngx-delete-confirm/bundles/ngx-delete-confirm.umd.js"></script>
<p-confirmDialog></p-confirmDialog>
<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">productName</th>
      <!-- <th scope="col">customerName</th> -->
      <th scope="col">productCost</th>
      <!-- <th scope="col">shippingCost</th>
      <th scope="col">shippingAddress</th>
      <th scope="col">phoneNumber</th> -->
      <th scope="col">status</th>
      <th scope="col">productImage</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listArr">
      <td>{{ list.productName }}</td>
      <td>{{ list.productCost }}</td>
      <!-- <td>{{ list.customerName }}</td>
      <td>{{ list.shippingCost }}</td>
      <td>{{ list.shippingAddress }}</td>
      <td>{{ list.phoneNumber }}</td> -->
      <td>{{ list.status }}</td>
      <!-- <td>{{ list.file }}</td> -->
      <td>
          <img src="{{list.file}}" height="40px" width="40px" >
        </td>
      <td>
          <button type="submit" (click)="Editp(list._id, list)" pButton icon="pi pi-times" label="Edit"></button>
        <!-- <button (click)="Editproduct(list._id, list)" class="btn btn-danger"></button> -->
      </td>
      <td>

          <button type="submit" (click)="Deletep(list._id)" pButton icon="pi pi-times" label="Delete"></button>
          
          <p-messages [value]="msgs"></p-messages>
      
      </td>
     
    </tr>
  </tbody>
</table>