<!-- <p>
  userboard works!
</p> -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
</head>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">
      <h3>company</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item m-auto">
          <!-- <a class="nav-link" href="index.html">Home</a> -->
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shop">Shop</a>

          <!-- <a class="nav-link" href="category.html">Categories</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>

        
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            placeholder="Search...">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary btn-number">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="cart.html">
          <i class="fa fa-shopping-cart"></i> Cart
          <span class="badge badge-light">3</span>
        </a>
        <a (click)="signOut()" class="btn btn-success btn-sm ml-3">
            <i class="fa fa-sign-out" style="font-size:20px"></i>signOut
          </a>
      </form>
    </div>
  </div>
</nav>
<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
    <!-- Classy Menu -->
    <nav class="classy-navbar" id="essenceNav">

      <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
      </div>
    </nav>
  </div>
</header>

<div class="row">
    <div class="col-md-6" *ngFor="let list of listArr">
       <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
             <strong class="d-inline-block mb-2 text-primary">   <p><b>{{list.brandName}}</b></p></strong>
             <h6 class="mb-0">
                <a class="text-dark" href="#">${{list.productCost}}</a>
             </h6>
             <div class="mb-1 text-muted small">Nov 12</div>
             <p class="card-text mb-auto">{{list.productDescription}}</p>
             <a class="btn btn-outline-primary btn-sm" role="button" href="vd">Add to Cart</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{list.file}}"  style="width: 200px; height: 250px;">
       </div>
    </div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-6 col-md-4" *ngFor="let list of listArr">
        <div class="thumbnail">
          <h4 class="text-center"><span class="label label-info">HP model</span></h4>
          <img src="{{list.file}}" height="400px" width="400px">
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3>Galaxy S5</h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h3>
                  <label>$649.99</label></h3>
              </div>
            </div>
            <p>32GB, 2GB Ram, 1080HD, 5.1 inches, Android</p>
            <div class="row"> -->
             
            
