<!-- <p>
  addblog works!
</p> -->
<!--  


<div class="container">
 <form>
    <div class="form-group">
      <label for="usr">Content title:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="container">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <form>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button (click)="Addblog(list._id, i)" class="btn btn-success">Comment</button>
      </form> -->

        <body background="../src/assets/bp.jpg">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="blogtitle">Blog titlee</label>
          <input type="text" class="form-control" id="blogtitle" placeholder="blogtitle" formControlName="blogtitle">
        </div>
        <p-editor formControlName="blogcontent" [style]="{'height':'320px'}">
        </p-editor>
        <!-- <div class="form-group">
          <label for="blogcontent">blog content</label>
          <textarea class="form-control" rows="4" id="blogcontent"formControlName="blogcontent"></textarea>
        </div> -->
        <div class="form-group">
          <label for="avatar">Select File</label>
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
        </div>
        <button type="submit"class="btn btn-success">Submit</button>
        <div>
          
        </div>
      </form>
      
      </body>