
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link " href="#">Tech World</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/company/registration">SIGN UP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/company/login">LOGIN</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/company/blogs">BLOG</a>
    </li>
</ul>
<body>
   
<img style="width: 100%;" src="/src/assets/cover5.jpg" alt="Cover">
    
</body>