<!-- <p>
  fullblog works!
</p> -->

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="w3-justify" *ngFor=" let list of listBlog">
  <h2><strong>{{list.blogtitle}}</strong></h2>
  <img src="{{list.file}}" alt="Men in Hats" style="width:100%" class="w3-padding-16">
  <p>{{list.blogcontent}}</p>
  <p>{{list.date | date:'longDate'}}</p>
  <div class="col-md-6 col-md-offset-2 col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading"> Comment panel</div>


      <div class="panel-body">
        <textarea class="form-control" id="comment" placeholder=" write a comment..." rows="3" value=""></textarea>
        <br>
        <button type="submit" (click)="addCom()" class="btn btn-info pull-right">Post</button>
        <div class="clearfix"></div>

        <div class="col-md-6 col-md-offset-2 col-sm-12" *ngFor=" let listComment of commentList">
          <div>
            <!-- <h4>Comments:</h4> -->
            <h5>Username: {{listComment.firstName}}</h5>
            <p>{{listComment.comment}}</p>
            <h6>Date: {{listComment.date|date}}</h6>
            <p>Rating: {{listComment.ratings}} </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div>
  <h3 class="first">Rate the Blog</h3>
  <p-rating [(ngModel)]="val"></p-rating>

</div>
