<!-- <p>
  topnav works!
</p> -->


<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#logout">Logout</a>
  <input type="text" placeholder="Search..">
</div>